<<<<<<< HEAD
<% provide :title, t("text_help") %>
=======
<% provide :title, "help" %>
>>>>>>> 0cc3c62a102ae874de932e0b70c15767e415dd66
<div class="center">
  <h1><%= t "users.index.help" %></h1>
  <h2><%= t "users.index.text" %></h2>
</div>
