<h1><%= t "text_sample" %></h1>
<p><%= @user.name %>,</p>
<p>
  <%= t "text_welcome_active" %>
</p>
<%= link_to t("text_active_link_to"), edit_account_activation_url(@user.activation_token, email: @user.email)%>

