<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("Sample App"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("text_home"), "#" %></li>
        <li><%= link_to t("text_help"), "#" %></li>
        <li><%= link_to t("text_loggin"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
